.calculator{
    display: flex;
    flex-direction: column;
    border:4px solid #0c0c0d;
    background-color: #dde2e5;
    max-width: 275px;
    height: 175px;
    border-radius: 10px;
}
.top{justify-content: space-between;
    display: flex;
    margin: 10px 10px 5px 10px;
 
}
.display{
    font-family: 'Segment7Standard',serif;
    font-size: 28px;
    text-emphasis: 500;
    background-color: #bed6d8;
    width: 125px;
    border-radius: 3px;
    border-top: 2px solid #0c0c0d;
    border-left: 2px solid #0c0c0d;
    border-right:0.2px solid #0c0c0d;
    border-bottom: 0.2px solid #0c0c0d;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 30px;
}
.solar-panel{
    display: flex;
}
.solar-cell{
    width:20px;
    height: 30px;
    border:1.5px solid #0c0c0d;
    background-color: #374246;
    box-shadow: inset 0.2px 0.2px 0.4px white;
}
#solar-left{
    border-radius: 2px 0 0 2px;
}
#solar-right{
    border-radius: 0 2px 2px 0;
}
.body{
    display: flex;
    justify-content: space-between;
}
#left{display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
.writing-left{
    font-family: 'Noto Serif',serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 16px;
}
.buttons-left{
    display: flex;
    flex-direction: column;
}

#right-top,#right-bottom{
    display: flex;
}

#right-right{
    display: flex;
    flex-direction: column;
}
#right-bottom{
    display: flex;
    gap:2px;
}
#right-bottom-right{
    display:flex;
}
/*#left-top,#left-bottom,#right-middle-middle,#right-middle-bottom,#right-right,#buttons-bottom-middle,#buttons-bottom-right{ */
.button-set{
    display: flex;
    background-color:red;
    justify-content: space-evenly;
}

#right{
    margin-right:10px;
    display: flex;
    flex-direction: column;
}
#left{
    margin-left:10px;
    display: flex;
    flex-direction: column;
}
#w11{
    font-size: 12px;
}
.button{
    font-family: 'Noto Serif',serif;
    font-size:16px;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 40px;
    border-radius: 15px;
}
.spacer{
    height:2px;
    border: 0.3px outset black;
    border-radius: 1px;
    background-color: #bcc6c9;
}